<template lang="pug">
  q-page.flex.column.flex-center.source-sans
    q-list.q-mt-lg
      q-item(v-for="user in users").q-pt-xs.q-pb-xs
        q-card(flat bordered).user-card
          q-card-section(horizontal).row
            div.col-5.flex.items-center.q-pa-md {{ user.email }}
            div.col-2.flex.items-center
              q-chip(color="green-1" square flat) {{ user.address }}
            div.col-5.flex.items-center.wrap.q-pa-sm
              q-chip(v-for="role in user.roles" size="sm" square) {{ role }}
</template>

<script>
export default {
  name: 'PageIndex',
  data () {
    return {
      users: []
    }
  },
  async mounted () {
    try {
      let { data } = await this.$axios.post('/api/users')
      this.users = data
      console.log(data)
    } catch (err) {
      if (err.response && err.response.status === 401) {
        console.log('Redirecting to login')
        window.location.href = '/login'
      } else {
        console.log(err)
      }
    }
  }
}
</script>

<style lang="stylus">
.user-card
  min-width 600px
  max-width 800px
</style>
