<template lang="pug">
  q-page.flex.column.flex-center.source-sans
    q-list(v-if="selected === null").q-mt-lg
      q-item(v-for="site in sites").q-py-xs
        q-card(flat bordered @click="selectSite(site)").site-card
          q-card-section(horizontal).row
            div.col-4.flex.items-center.q-pa-md {{ site.id }}
            div.col-4.flex.items-center
              q-chip(color="green-1" square flat) {{ site.address }}
            div.col-4.flex.items-center.q-pa-md {{ site.endpoint }}
      q-item.q-py-xs.q-px-none
        q-card(flat).site-card
          q-card-section(horizontal).row.text-grey-7
            div.col-12.flex.justify-center.items-center.q-pa-xs
              q-btn(flat round color="grey-7" icon="add" @click="newSite")

    q-card(v-else flat)
      q-form(@submit="submitForm")
        q-card-section.row.q-py-xs
          q-input(:readonly="!createMode" size="40px" v-model="selected.id" label="Id" borderless).col-3.q-pa-sm
          q-input(size="40px" v-model="selected.address" label="Address" borderless :rules="addressRules").col-2.q-pa-sm
          q-input(size="40px" type="number" v-model.number="selected.listen_port" label="Port" borderless :rules="portRules").col-2.q-pa-sm
          q-input(size="40px" v-model="selected.endpoint" label="Endpoint" borderless :rules="endpointRules").col-3.q-pa-sm
          div.col-1.flex.justify-center.items-center.q-pa-sm
            q-btn(v-if="!createMode" flat dense color="red" icon="delete" @click="deleteSite")
            q-btn(v-else flat dense color="red" icon="close" @click="clearSelected")
          div.col-1.flex.justify-center.items-center.q-pa-sm
            q-btn(flat dense type="submit" color="green" icon="check")
        q-card-section.row.q-py-xs
          q-input(size="40px" v-model="selected.public_key" label="Public Key" borderless :rules="keyRules").col-6.q-pa-sm
          q-input(size="40px" v-model="selected.private_key" label="Private Key" borderless :rules="keyRules").col-6.q-pa-sm
</template>

<script>
const endpointRegExp = /^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?):[0-9]{1,5}$/

const cidrRegExp = /^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\/(?:[3][12]|[12][0-9]|[1-9])$/

// const emailRegExp = /^[a-z0-9!#$%&'*+/=?^_‘{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_‘{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$/

export default {
  name: 'Sites',
  props: {
    id: {
      type: String
    }
  },
  data () {
    return {
      sites: [],
      selected: null,
      addressRules: [
        value => cidrRegExp.test(value) || 'Must be a valid CIDR block'
      ],
      endpointRules: [
        value => endpointRegExp.test(value) || 'Must be a valid socket address',
        value => (Number(value.split(':')[1]) < 65535 && Number(value.split(':')[1]) > 0) || 'Port number out of range'
      ],
      portRules: [
        value => (Number(value) < 65535 && Number(value) > 0) || 'Port number out of range'
      ],
      keyRules: [
        value => /^[0-9a-f]{64}$/.test(value) || 'Must be a valid hex key'
      ]
    }
  },
  methods: {
    selectSite (site) {
      this.$router.push(`/sites?id=${site.id}`)
    },
    newSite () {
      this.selected = {}
    },
    clearSelected () {
      this.selected = null
    },
    setSite (id) {
      if (id) {
        let site = this.sites.find(s => s.id === id)
        this.selected = site
      } else {
        this.selected = null
      }
    },
    async submitForm (event) {
      try {
        if (this.createMode) {
          let response = await this.$axios.post('/api/sites', this.selected)
          console.log(response)
          this.sites.push(this.selected)
          this.clearSelected()
        } else {
          let response = await this.$axios.put('/api/sites', this.selected)
          console.log(response)
          this.$router.push('/sites')
        }
      } catch (err) {
        const status = err.response && err.response.status
        if (status === 401) {
          console.log('Redirecting to login')
          window.location.href = '/login'
        } else if (status === 404) {
          this.$q.notify('Site not found')
        } else if (status === 400) {
          this.$q.notify(err?.response?.data?.message || 'Unexpected error')
        } else {
          console.log(err)
        }
      }
    },
    async deleteSite () {
      try {
        let response = await this.$axios.delete('/api/sites', {
          data: this.selected
        })
        console.log(response)
        let index = this.sites.findIndex(u => u.id === this.selected.id)
        this.sites.splice(index, 1)
        this.$router.push('/sites')
      } catch (err) {
        const status = err?.response?.status
        if (status === 401) {
          console.log('Redirecting to login')
          window.location.href = '/login'
        } else if (status === 404) {
          this.$q.notify('Role not found')
        } else if (status === 400) {
          this.$q.notify(err?.response?.data?.message || 'Unexpected error')
        } else {
          console.log(err)
        }
      }
    }
  },
  computed: {
    createMode () {
      return !this.id
    }
  },
  watch: {
    id (value) {
      this.setSite(value)
    }
  },
  async mounted () {
    try {
      var [sitesRes] = await Promise.all([
        this.$axios.get('/api/sites')
      ])
      this.sites = sitesRes.data
      this.setSite(this.id)
    } catch (err) {
      if (err.response && err.response.status === 401) {
        console.log('Redirecting to login')
        window.location.href = '/login'
      } else {
        console.log(err)
      }
    }
  }
}
</script>

<style lang="stylus">
.site-card
  min-width 600px
  max-width 800px
  width 100%
.site-row
  min-width 800px
  max-width 800px
.site-card
  min-width 800px
  max-width 800px
.select-min-width
  min-width 100px
.select-min-width-small
  min-width 50px
.pointer
  cursor pointer
.q-field__bottom
  z-index 1
</style>
