<template lang="pug">
  q-page.flex.column.flex-center.source-sans
    q-list(v-if="selected === null").q-mt-lg
      q-item(v-for="user in users").q-py-xs
        q-card(flat bordered @click="selectUser(user)").user-card
          q-card-section(horizontal).row
            div.col-5.flex.items-center.q-pa-md {{ user.email }}
            div.col-2.flex.items-center
              q-chip(color="green-1" square flat) {{ user.address }}
            div.col-5.flex.items-center.wrap.q-pa-sm
              q-chip(v-for="role in user.roles" size="sm" square) {{ role }}
      q-item.q-py-xs.q-px-none
        q-card(flat).rule-card
          q-card-section(horizontal).row.text-grey-7
            div.col-12.flex.justify-center.items-center.q-pa-xs
              q-btn(flat round color="grey-7" icon="add" @click="newUser")

    q-card(v-else flat)
      q-form(@submit="submitForm")
        q-card-section.row.q-py-xs
          q-input(:readonly="!createMode" size="40px" v-model="selected.email" label="Email" borderless :rules="emailRules").col-7.q-pa-sm
          q-input(size="20px" v-model="selected.address" label="Address" borderless :rules="addressRules").col-3.q-pa-sm
          div.col-1.flex.justify-center.items-center.q-pa-sm
            q-btn(v-if="!createMode" flat dense color="red" icon="delete" @click="deleteUser")
            q-btn(v-else flat dense color="red" icon="close" @click="clearSelected")
          div.col-1.flex.justify-center.items-center.q-pa-sm
            q-btn(flat dense type="submit" color="green" icon="check")
        q-card-section.row.q-py-xs
          div.user-row
            q-select(size="40px" borderless v-model="selected.roles" :options="stringRoles" multiple use-chips square stack-label label="Roles").q-pa-sm
        q-card-section.row.q-py-xs
          div.user-row.source-sans
            q-list(label="Rules")
              q-item.q-py-xs.q-px-none
                q-card(flat).rule-card
                  q-card-section(horizontal).row.text-grey-7
                    div.col-1.flex.justify-center.items-center.q-pa-xs Direction
                    div.col-1.flex.justify-center.items-center.q-pa-xs Action
                    div.col-2.flex.justify-center.items-center.q-pa-xs Description
                    div.col-1.flex.justify-center.items-center.q-pa-xs Protocol
                    div.col-1.flex.justify-center.items-center.q-pa-xs Ports
                    div.col-2.flex.justify-center.items-center.q-pa-xs Targets
                    div.col-2.flex.justify-center.items-center.q-pa-xs Only
                    div.col-2.flex.justify-center.items-center.q-pa-xs Except
              q-item(v-for="rule in selected.rules").q-py-xs.q-px-none
                q-card(flat bordered).rule-card
                  q-card-section(horizontal).row
                    q-badge(color="red" floating @click.native="deleteRule(rule)").pointer
                      q-icon(name="delete" color="white")
                    div.col-1.flex.justify-center.items-center.q-pa-xs
                      q-btn(flat dense :color="rule.direction === 'EGRESS' ? 'amber-9' : 'primary'" @click="toggleDirection(rule)" :label="rule.direction || 'INGRESS'")
                    div.col-1.flex.justify-center.items-center.q-pa-xs
                      q-btn(flat dense :color="rule.action === 'DENY' ? 'red' : 'green-9'" @click="toggleAction(rule)" :label="rule.action || 'ALLOW'")
                    div.col-2.flex.justify-center.items-center.q-pa-xs
                      q-input(dense borderless v-model="rule.description" :title="rule.description").q-pa-none.select-min-width
                    div.col-1.flex.justify-center.items-center.q-pa-xs
                      q-select(borderless :value="rule.protocol || 'ALL'" @input="setProtocol(rule, $event)" :options="protocols" hide-dropdown-icon :placeholder="'All'").q-pa-none.select-min-width-small
                    div.col-1.flex.justify-center.items-center.q-pa-xs
                      q-select(dense type="number" borderless v-model="rule.ports" use-input new-value-mode="add-unique" multiple hide-dropdown-icon :rules="portsRules" @new-value="newPort" :placeholder="Array.isArray(rule.ports) && rule.ports.length !== 0 ? '' : 'All'").q-pa-none.select-min-width-small
                    div.col-2.flex.justify-center.items-center.q-pa-xs
                      q-select(dense borderless v-model="rule.targets" use-input new-value-mode="add-unique" multiple hide-dropdown-icon :rules="targetsRules").q-pa-none.select-min-width
                    div.col-2.flex.justify-center.items-center.q-pa-xs
                      q-select(borderless v-model="rule.only" :options="stringSites" multiple use-chips hide-dropdown-icon).q-pa-none.select-min-width
                    div.col-2.flex.justify-center.items-center.q-pa-xs
                      q-select(borderless v-model="rule.except" :options="stringSites" multiple use-chips hide-dropdown-icon).q-pa-none.select-min-width
              q-item.q-py-xs.q-px-none
                q-card(flat).rule-card
                  q-card-section(horizontal).row.text-grey-7
                    div.col-12.flex.justify-center.items-center.q-pa-xs
                      q-btn(flat round color="grey-7" icon="add" @click="addRule")

</template>

<script>
const addressRegExp = /^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/

const cidrRegExp = /^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\/(?:[3][12]|[12][0-9]|[1-9])$/

const emailRegExp = /^[a-z0-9!#$%&'*+/=?^_‘{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_‘{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$/

export default {
  name: 'PageIndex',
  props: {
    email: {
      type: String
    }
  },
  data () {
    return {
      roles: [],
      sites: [],
      protocols: ['TCP', 'UDP', 'ICMP', 'ALL'],
      users: [],
      selected: null,
      addressRules: [
        value => addressRegExp.test(value) || 'Should be a valid IP', // eslint-disable-line no-useless-escape
        value => !/\.0+$/.test(value) || 'Should not be a network address', // eslint-disable-line no-useless-escape
        value => value.startsWith('10.') ||
          value.startsWith('192.168.') ||
          value.startsWith('172.') ||
          'IP not from a private range'
      ],
      emailRules: [
        value => emailRegExp.test(value) || 'Must be a valid email'
      ],
      portsRules: [
        value => value === undefined || value.map(v => Number(v)).every(v => (Number.isInteger(v) && v > 0 && v < 65535)) || 'Must be a number within the range 0 - 65535'
      ],
      targetsRules: [
        value => (Array.isArray(value) && value.length > 0) || 'There must be at least one target',
        value => value.every(v => {
          return cidrRegExp.test(v)
        }) || 'Must be a valid CIDR block'
      ]
    }
  },
  methods: {
    selectUser (user) {
      this.$router.push(`/users?email=${user.email}`)
    },
    newUser () {
      this.selected = {}
    },
    clearSelected () {
      this.selected = null
    },
    setUser (email) {
      if (email) {
        let user = this.users.find(u => u.email === email)
        this.selected = user
      } else {
        this.selected = null
      }
    },
    toggleDirection (rule) {
      if (rule.direction && rule.direction === 'EGRESS') {
        this.$set(rule, 'direction', 'INGRESS')
      } else {
        this.$set(rule, 'direction', 'EGRESS')
      }
    },
    toggleAction (rule) {
      if (rule.action && rule.action === 'DENY') {
        this.$set(rule, 'action', 'ALLOW')
      } else {
        this.$set(rule, 'action', 'DENY')
      }
    },
    setProtocol (rule, protocol) {
      if (rule && protocol) {
        this.$set(rule, 'protocol', protocol)
      }
    },
    deleteRule (rule) {
      let index = this.selected.rules.findIndex(r => r === rule)
      this.selected.rules.splice(index, 1)
    },
    addRule () {
      if (Array.isArray(this.selected.rules)) {
        this.selected.rules.push({ targets: [] })
      } else {
        this.$set(this.selected, 'rules', [{ targets: [] }])
      }
    },
    newPort (value, done) {
      let port = Number(value)
      if (Number.isInteger(port)) {
        done(port, 'add-unique')
      } else {
        done(null)
      }
    },
    async submitForm (event) {
      try {
        if (this.createMode) {
          // TODO reconsider logic
          let response = await this.$axios.post('/api/users', this.selected)
          console.log(response)
          this.users.push(this.selected)
          this.clearSelected()
        } else {
          let response = await this.$axios.put('/api/users', this.selected)
          console.log(response)
          this.$router.push('/users')
        }
      } catch (err) {
        const status = err.response && err.response.status
        if (status === 401) {
          console.log('Redirecting to login')
          window.location.href = '/login'
        } else if (status === 404) {
          this.$q.notify('User not found')
        } else if (status === 400) {
          this.$q.notify(err?.response?.data?.message || 'Unexpected error')
        } else {
          console.log(err)
        }
      }
    },
    async deleteUser () {
      try {
        let response = await this.$axios.delete('/api/users', {
          data: this.selected
        })
        console.log(response)
        let index = this.users.findIndex(u => u.email === this.selected.email)
        this.users.splice(index, 1)
        this.$router.push('/users')
      } catch (err) {
        const status = err?.response?.status
        if (status === 401) {
          console.log('Redirecting to login')
          window.location.href = '/login'
        } else if (status === 404) {
          this.$q.notify('User not found')
        } else if (status === 400) {
          this.$q.notify(err?.response?.data?.message || 'Unexpected error')
        } else {
          console.log(err)
        }
      }
    }
  },
  computed: {
    stringSites () {
      return this.sites.map(s => s.id)
    },
    stringRoles () {
      return this.roles.map(r => r.name)
    },
    createMode () {
      return !this.email
    }
  },
  watch: {
    email (value) {
      this.setUser(value)
    }
  },
  async mounted () {
    try {
      var [usersRes, rolesRes, sitesRes] = await Promise.all([
        this.$axios.get('/api/users'),
        this.$axios.get('/api/roles'),
        this.$axios.get('/api/sites')
      ])
      this.users = usersRes.data
      this.roles = rolesRes.data
      this.sites = sitesRes.data
      this.setUser(this.email)
    } catch (err) {
      if (err.response && err.response.status === 401) {
        console.log('Redirecting to login')
        window.location.href = '/login'
      } else {
        console.log(err)
      }
    }
  }
}
</script>

<style lang="stylus">
.user-card
  min-width 600px
  max-width 800px
  width 100%
.user-row
  min-width 800px
  max-width 800px
.rule-card
  min-width 800px
  max-width 800px
.select-min-width
  min-width 100px
.select-min-width-small
  min-width 50px
.pointer
  cursor pointer
.q-field__bottom
  z-index 1
</style>
