<template lang="pug">
  q-layout(view="hHh lpR lFf")
    q-header
      q-tabs.source-sans
        q-route-tab(to="/users" label="Users")
        q-route-tab(to="/roles" label="Roles")
        q-route-tab(to="/sites" label="Sites")
    q-page-container
      router-view
</template>

<script>
export default {
  name: 'SimpleLayout',
  data () {
    return {
    }
  }
}
</script>
